@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(images/OIP.jpeg);
    background-size: cover;
    
}
header {
    background-color: #e94b4b;
    color: rgb(249, 245, 245);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
   
    gap: 10px;
    margin-bottom: 20px;
    background-image: url(images/OIP\ \(1\).jpeg);
    border-bottom: 2px solid rgb(243, 236, 236);
   
}
header img{
    height: 60px;
    border-radius: 10px;
}
.header-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container {
    position: absolute; /* Absolute positioning relative to the viewport */
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers it precisely */
    
    width: 400px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #cfc1ba;
    border-radius: 20px;
}






.login-box {
    position: absolute;
    width: 400px;
    /* background: red; */
}

.login-box form {
    width: 100%;
    padding: 0 50px;
}

h2 {
    font-size: 2em;
    color: rgb(4, 14, 152);
    text-align: center;
}

.input-box {
    position: relative;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 20px;
    transition: .5s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #0ef;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #050505;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    font-size: .8em;
    background: #4286fb;
    padding: 0 6px;
    color: #0ef;
}


.btn {
    width: 100%;
    height: 45px;
    background: rgb(44, 176, 8);
    
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: 600;
}
.btn:hover{
    background-color: green;
    
}
#institute{
    border-radius: 25%;
    width: 100%;
    height: 35px;
    background: #cfc1ba;
    color: #060606;
    border: 2px solid rgb(3, 26, 93);


}
#role{
    border-radius: 25%;
    width: 100%;
    height: 35px;
    background: #cfc1ba;
    color: #0c0c0c;
    
    border: 2px solid rgb(3, 26, 93);

}

